<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ShowAllAdmin</servlet-name>
        <servlet-class>DAO.ShowAllAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProduct</servlet-name>
        <servlet-class>DAO.ShowProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_NewAdmin</servlet-name>
        <servlet-class>DAO.Add_NewAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>DAO.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllCustomer</servlet-name>
        <servlet-class>DAO.ShowAllCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Customer</servlet-name>
        <servlet-class>DAO.Delete_Customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllProduct</servlet-name>
        <servlet-class>DAO.ShowAllProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllCatelogy</servlet-name>
        <servlet-class>DAO.ShowAllCatelogy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOneCatelogy</servlet-name>
        <servlet-class>DAO.GetOneCatelogy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategory</servlet-name>
        <servlet-class>DAO.UpdateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllFeedback</servlet-name>
        <servlet-class>DAO.ShowAllFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Feedback</servlet-name>
        <servlet-class>DAO.Delete_Feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllRestaurant</servlet-name>
        <servlet-class>DAO.ShowAllRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Restaurant</servlet-name>
        <servlet-class>DAO.Delete_Restaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_NewRestaurant</servlet-name>
        <servlet-class>DAO.Add_NewRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFeedBack</servlet-name>
        <servlet-class>DAO.AddFeedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Product</servlet-name>
        <servlet-class>DAO.Delete_Product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOneProduct</servlet-name>
        <servlet-class>DAO.GetOneProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>DAO.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRestaurant</servlet-name>
        <servlet-class>DAO.UpdateRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOne_Restaurant</servlet-name>
        <servlet-class>DAO.GetOne_Restaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayTypeProductbyID</servlet-name>
        <servlet-class>DAO.DisplayTypeProductbyID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllOrder</servlet-name>
        <servlet-class>DAO.ShowAllOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsOrder</servlet-name>
        <servlet-class>DAO.DetailsOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_NewProduct</servlet-name>
        <servlet-class>DAO.Add_NewProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ShowAllRestaurantUser</servlet-name>
        <servlet-class>DAO.ShowAllRestaurantUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderfromUser</servlet-name>
        <servlet-class>DAO.UpdateOrderfromUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showCate</servlet-name>
        <servlet-class>DAO.showCate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>DAO.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showQuestion</servlet-name>
        <servlet-class>DAO.showQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCate</servlet-name>
        <servlet-class>Entity.SearchCate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailProduct</servlet-name>
        <servlet-class>DAO.DetailProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProduct</servlet-name>
        <servlet-class>DAO.SearchProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowAllAdmin</servlet-name>
        <url-pattern>/ShowAllAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_NewAdmin</servlet-name>
        <url-pattern>/Add_NewAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllCustomer</servlet-name>
        <url-pattern>/ShowAllCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Customer</servlet-name>
        <url-pattern>/Delete_Customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllProduct</servlet-name>
        <url-pattern>/ShowAllProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllCatelogy</servlet-name>
        <url-pattern>/ShowAllCatelogy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProduct</servlet-name>
        <url-pattern>/ShowProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOneCatelogy</servlet-name>
        <url-pattern>/GetOneCatelogy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategory</servlet-name>
        <url-pattern>/UpdateCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllFeedback</servlet-name>
        <url-pattern>/ShowAllFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Feedback</servlet-name>
        <url-pattern>/Delete_Feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllRestaurant</servlet-name>
        <url-pattern>/ShowAllRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Restaurant</servlet-name>
        <url-pattern>/Delete_Restaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_NewRestaurant</servlet-name>
        <url-pattern>/Add_NewRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFeedBack</servlet-name>
        <url-pattern>/AddFeedBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Product</servlet-name>
        <url-pattern>/Delete_Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOneProduct</servlet-name>
        <url-pattern>/GetOneProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRestaurant</servlet-name>
        <url-pattern>/UpdateRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOne_Restaurant</servlet-name>
        <url-pattern>/GetOne_Restaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayTypeProductbyID</servlet-name>
        <url-pattern>/DisplayTypeProductbyID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllOrder</servlet-name>
        <url-pattern>/ShowAllOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsOrder</servlet-name>
        <url-pattern>/DetailsOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_NewProduct</servlet-name>
        <url-pattern>/Add_NewProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllRestaurantUser</servlet-name>
        <url-pattern>/ShowAllRestaurantUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderfromUser</servlet-name>
        <url-pattern>/UpdateOrderfromUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showCate</servlet-name>
        <url-pattern>/showCate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showQuestion</servlet-name>
        <url-pattern>/showQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCate</servlet-name>
        <url-pattern>/SearchCate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailProduct</servlet-name>
        <url-pattern>/DetailProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProduct</servlet-name>
        <url-pattern>/SearchProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
